<html>
	<head>
		<title>News Headlines</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/style.css" type="text/css">
	</head>
	<body>
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		  	</button>
		   	<span class="navbar-brand" href="#">Headlines</span>
		  	<div class="collapse navbar-collapse" id="navbarText">
			    <ul class="navbar-nav mr-auto">
			    	{% for section in results %}
			    	<li class="nav-item">
			        	<a class="nav-link" href="#{{section}}">{{section}}</a>
					</li>
					{% endfor %}
			    </ul>
		  	</div>
		</nav><br />


		<div class="content">
		{% for section in results %}			
			<div>
				<a name="{{section}}"></a>
				<div class="flex-box">
				{% for news in results[section] %}
				<div class="card">
					<img class="card-img-top" src={{news.image}} alt="Card image cap">
					<div class="card-block desc-box">
				    	<h4 class="card-title">{{news.title}}</h4>
				    	<p class="card-text">
				    		{{news.description}}
				    	</p>
				    	<a href={{news.url}} class="btn btn-primary read-more">Read More</a>
				  	</div>
				</div>
				{% endfor %}
			</div>
			<br>
		{% endfor %}
		</div>
	</body>
</html>